beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
clarifai==2.0.33
click==6.7
configparser==3.5.0
enum34==1.1.6
Flask==0.12.2
Flask-Assets==0.12
future==0.15.2
idna==2.6
inflect==0.2.5
itsdangerous==0.24
jaraco.itertools==2.1.1
Jinja2==2.10
jsonschema==2.5.1
MarkupSafe==1.0
more-itertools==4.1.0
nltk==3.2.5
Pillow==2.9.0
pymongo==3.6.1
requests==2.13.0
six==1.11.0
urllib3==1.22
webassets==0.12.1
Werkzeug==0.14.1
wikipedia==1.4.0
wolframalpha==3.0.1
xmltodict==0.11.0
